<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>
<%- include ('../partials/sidebar') %>
<%- include ('../partials/messages') %>

    <main>

    <%- include ('../partials/searchform') %>

    </main>
    <%- include ('../partials/footer') %>
</body>
