<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>

    <main>
        <h1>Welkom <%= user.firstname + " " + user.surname %></h1> 
        <img src="/static/upload/<%= user.image %>" alt="profiel foto">
        <p><%= user.age %></p>
        <p><%= user.gender %></p>
        <p>Favoriete game: <%= user.favorite %></p>
        
        <% const game = user.favorite  
        // https://stackoverflow.com/questions/7364150/find-object-by-id-in-an-array-of-javascript-objects
        const item = dataTop100.find(item => item.name === game)
        
        const baseURL = "//images.igdb.com/igdb/image/upload/t_screenshot_huge/"
        const nItemsPlusOne = item.screenshots.length + 1

        const randomNumer = Math.floor(Math.random() * nItemsPlusOne)

        const hashImageId = item.screenshots[randomNumer].image_id
        const jpgFormat = ".jpg"
        const description = item.summary

        const fullUrl = baseURL.concat(hashImageId, jpgFormat)

        %> 
        <img src="<%= fullUrl %>" alt="">
        <p><%= description %></p>
        <a class="button" href="/profile-edit">Profiel aanpassen</a>
        
        <form method="POST" action="/delete" >
            <button class="button delete loginButton">Verwijder account</button>
        </form>
    </main>

<%- include ('../partials/footer') %>
</body>