<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>

    <main>
        <h1>Welkom <%= user.firstname + " " + user.surname %></h1> 
        <img src="/static/upload/<%= user.image %>" alt="profiel foto">
        <p><%= user.age %></p>
        <p><%= user.gender %></p>
        <p>Favoriete game: <%= user.favorite %></p>
        <a class="button" href="/profile-edit">Profiel aanpassen</a>
        <form method="POST" action="/delete" >
            <button class="button delete loginButton">Verwijder account</button>
        </form>
    </main>

<%- include ('../partials/footer') %>
</body>